<appSettings>
  <add key="issuer" value="memorise"/>
  <add key="secret" value="ZVc5MUlIZHBiR3dnYm1WMlpYSWdaR1ZqYjJSbElHbDA="/>
  <add key="flickrApi" value="4c752b3dec812301955b8d40d03b86a2"/>
  <add key="flickrSharedSecret" value="4d125079132135ae"/>
  <add key="flickrGategoryGalleryId" value="72157686658319471"/>
  <add key="flickrCourseGalleryId" value="72157685854731732"/>
  <add key="flickrDeckGalleryId" value="72157687566516383"/>
</appSettings>